.container {
    width: 760px;
    height: 1430px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid black;
  }
  
  .header {
    display: u;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .date {
    font-weight: bold;
    font-size: 18px;
  }
  
  .occasion {
    font-style: italic;
    font-size: 16px;
  }
  .customer-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .customer-area img{
    width: 200px;
    height: 200px;
  }
  .customer{
    margin-left: 15px;
  }
  .flower {
    width: 100px;
    height: 100px;
  }
  .flower-logo{
    transform: rotate(90deg);
    margin-left: 310px;
  }
  .flower-logo img{
    margin-bottom: 50px;
    display: block;
  }
  
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    position: relative;
  }

  .about, .contact, .order{
    line-height: 1.5em;
  }
  
  .title {
    font-weight: bold;
  }
  
  .customer, .receiver, .order {
    padding: 5px;
  }
  .order{
    justify-content: right;
    justify-self: right;
    text-align: right;
  }
  .product-area{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    padding: 10px;
  }
  .address {
    white-space: g;
  }
  .contact {
    margin-top: 10px;
  }
  .address-part{
    font-size: 15px;
  }
  .product-name {
    font-weight: bold;
    line-height: 1em;
    font-size: 16px;
  }
  .bill{
    line-height: 1em;
    font-size: 16px;
  }
  
  .name {
    font-size: px;
  }
  .details{
    font-weight: bold;
    font-size: 16px;
  }
  .describe{
    font-size: 16px;
  }
  .color, .description, .price {
    white-space: pre-line;
  }
  .line{
    height: 300px;
  }
  .message {
    padding: 10px;
  }
  .product-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .bill p{
    display: grid;
    justify-content: end;
  }
  .vertical-1{
    border-left: 2px solid #000;
    height: 200px;
    left: 68%;
    bottom: 0;
    position: absolute;
  }
  .vertical-2{
    border-left: 2px solid #000;
    height: 150px;
    left: 50%;
    bottom: 0;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .vertical-3{
    border-left: 2px solid #000;
    height: 90px;
    right: 40%;
    top: 42.5%;
    bottom: 0;
    position: absolute;
    margin-left: 50px;
    transform: rotate(90deg);
    margin-bottom: 10px;
  }
  .order-details{
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
  }
  .address-area{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .address-details p {
    font-size: 14px;
    line-height: 1.3rem;
  }
  .text {
    font-family: "Brush Script MT", cursive;
    font-size: 18px;
  }
  .bold{
    font-weight: bold;
  }
  
  footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1000px;
    transform: translate(0, -50%);
    

  }
  .footer-text{
    display: grid;
    position: relative;
    line-height: 1.3em;
    font-size: 16px;

  }
  .footer-text .italic{
    font-style: italic;
    font-size: 16px;
    line-height: 1.5em;
  }
  .logo-side p{
    font-weight: bold;
    font-size: 16px;
    color: green;
  }
  .logo-side{
    margin-top: 200px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 2px 50px 30px;
    border: 1px solid black;
    margin-bottom: 30px;

  }
  .logo-side a{
    text-decoration: none;
    font-size: 16px;
    color: green;
  }
  .logo-side img {
    height: 40px;
    text-align: left;
    justify-self: end;
    margin-top: 50px;
  }
  .leaf{
    height: 50px;
    margin-top: 335px;
  }
  .customer-side {
    display: grid;
    justify-content: end;
    grid-template-rows: repeat(2, 1fr);
    line-height: 1.5em;

  }
  .customer-detail{
    margin-right: 10px;
    margin-top: 50px;
    font-size: 15px;
  }

  .do{
    margin-top: 25px;
    display: inline-block;
    margin-bottom: 25px;
  }
  .nei{
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .cutomer-link{
    line-height: 1.5em;
    font-size: 15px;
    margin-top: 25px;
  }

  .order-id{
    margin-right: 5px;
  }